@model IEnumerable<CategoryViewModel>

<div class="d-grid gap-2">
    <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Home">Anasayfa</a>

    @foreach(var cat in Model)
    {
        <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Home">@cat.Name</a>
    }
</div>