@model IEnumerable<CategoryViewModel>

<div class="d-grid gap-2">
    <a class="btn @(ViewBag.SelectedCategory == null ? "btn-dark" : "btn-outline-dark")" href="/products">Anasayfa</a>

    @foreach(var cat in Model)
    {
        <a class="btn @(ViewBag.SelectedCategory == cat.Url ? "btn-dark" : "btn-outline-dark")" asp-action="Index" asp-controller="Home" asp-route-category="@cat.Url"
         >@cat.Name</a>
    }
</div>